{% extends "Inicio/index.html" %}
{% load static %}

{% block title %} Listado de Censos {% endblock title %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'css/lib/datatable/dataTables.bootstrap.min.css'  %}">
{% endblock extra_css %}

{% block body %}
<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col align-self-start">
				<a class="nav-link" onclick="abrir_modal_creacionCenso('{% url 'registrar_Censo' %}');" title="Añadir Censo" aria-label="Añadir Censo">
	              <i class="fa fa-plus"></i>
	            </a>
			</div>
			<div class="col align-self-center">
				<strong class="card-title"> Listado de Censos </strong>
			</div>
		</div>
	</div>
	<div class="table-stats order-table ov-h">
		<table id="tabla_censos" class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Fecha</th>
					<th>Unidad productiva</th>
					<th>Cultivo</th>
					<th>Producción de leche</th>
					<th>Producción de carne</th>
					<th>Opciones</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>

<div class="modal fade" id="creacionCenso" tabindex="-1" role="dialog" aria-hidden="true">
	
</div>

<div class="modal fade" id="edicionCenso" tabindex="-1" role="dialog" aria-hidden="true">
	
</div>

<div class="modal fade" id="eliminacionCenso" tabindex="-1" role="dialog" aria-hidden="true">
	
</div>

<div class="modal fade" id="creacionProductor" tabindex="-1" role="dialog" aria-hidden="true">
	
</div>

<div class="modal fade" id="creacionResponsable" tabindex="-1" role="dialog" aria-hidden="true">
	
</div>

<div class="modal fade" id="creacionUnidad_Productiva" tabindex="-1" role="dialog" aria-hidden="true">
	
</div>

<div class="modal fade" id="creacionDetalle" tabindex="-1" role="dialog" aria-hidden="true">
	
</div>

{% endblock body %}

{% block extrajs %}
	<script src="{% static 'js/lib/data-table/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
	<script src="{% static 'js/censo.js' %}"></script>
	<script src="{% static 'js/productor.js' %}"></script>
	<script src="{% static 'js/responsable.js' %}"></script>
	<script src="{% static 'js/unidad_Productiva.js' %}"></script>
	<script src="{% static 'js/detalle.js' %}"></script>
{% endblock extrajs %}