{% extends "Inicio/index.html" %}
{% load static %}

{% block title %} Listado de Articulos {% endblock title %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'css/lib/datatable/dataTables.bootstrap.min.css'  %}">
{% endblock extra_css %}

{% block body %}
<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col align-self-start">
				<a class="nav-link" onclick="abrir_modal_creacionArticulo_Productor('{% url 'registrar_Articulo_Productor' %}');" title="Añadir Articulo" aria-label="Añadir Articulo">
	              <i class="fa fa-plus"></i>
	            </a>
			</div>
			<div class="col align-self-center">
				<strong class="card-title"> Listado de Articulos de los Productores </strong>
			</div>
		</div>
	</div>
	<div class="table-stats order-table ov-h">
		<table id="tabla_articulos_productor" class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Descripción</th>
					<th>Marca</th>
					<th>Modelo</th>
					<th>Año</th>
					<th>Opciones</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>

<div class="modal fade" id="creacionArticulo_Productor" tabindex="-1" role="dialog" aria-hidden="true">
	
</div>

<div class="modal fade" id="edicionArticulo_Productor" tabindex="-1" role="dialog" aria-hidden="true">
	
</div>

<div class="modal fade" id="eliminacionArticulo_Productor" tabindex="-1" role="dialog" aria-hidden="true">
	
</div>

{% endblock body %}

{% block extrajs %}
	<script src="{% static 'js/lib/data-table/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
	<script src="{% static 'js/articulo_Productor.js' %}"></script>
{% endblock extrajs %}