<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button title="Cerrar" aria-label="Cerrar" class="close" type="button" onclick="cerrar_modal_creacionArticulo_Productor();">
        <spam aria-hidden="true">&times;</spam>
      </button>
      <h2 class="modal-title"> Registrar Articulo </h2>
    </div>
    <form id="form_creacionArticulo_Productor" action="{% url 'registrar_Articulo_Productor' %}" method="POST">{% csrf_token %}
      <div class="modal-body">
        
        <p>
          {{ form.descrip_artprod.label }}
          <div onkeypress="return soloLetras(event)" oncopy="return false" onpaste="return false" oncut="return false">{{ form.descrip_artprod }}</div>
          <div class="alert alert-danger error-descrip_artprod d-none"></div>
        </p>

        <p>
          {{ form.cod_marca.label }}
          <div oncopy="return false" onpaste="return false" oncut="return false">{{ form.cod_marca }}</div>
          <div class="alert alert-danger error-cod_marca d-none"></div>
        </p>

        <p>
          {{ form.cod_modelo.label }}
          <div oncopy="return false" onpaste="return false" oncut="return false">{{ form.cod_modelo }}</div>
          <div class="alert alert-danger error-cod_modelo d-none"></div>
        </p>

        <p>
          {{ form.año_artprod.label }}
          {{ form.año_artprod }}
          <div class="alert alert-danger error-año_artprod d-none"></div>
        </p>

      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" type="button" onclick="cerrar_modal_creacionArticulo_Productor();">Cancelar</button>
        <button id="boton_creacion" class="btn btn-primary" type="button" onclick="registrarArticulo_Productor();">Confirmar</button>
        </div>
    </form>
  </div>
</div>