<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button title="Cerrar" aria-label="Cerrar" class="close" type="button" onclick="cerrar_modal_edicionMarca_Articulo();">
        <spam aria-hidden="true">&times;</spam>
      </button>
      <h2 class="modal-title"> Editar Marca: {{ marca_articulo }} </h2>
    </div>
    <form id="form_edicionMarca_Articulo" action="{% url 'editar_Marca_Articulo' marca_articulo.pk %}" method="POST">{% csrf_token %}
      <div class="modal-body">
        
        <p>
          {{ form.marca_art.label }}
          <div oncopy="return false" onpaste="return false" oncut="return false">{{ form.marca_art }}</div>
          <div class="alert alert-danger error-marca_art d-none"></div>
        </p>

      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" type="button" onclick="cerrar_modal_edicionMarca_Articulo();">Cancelar</button>
        <button id="boton_creacion" class="btn btn-primary" type="button" onclick="editarMarca_Articulo();">Confirmar</button>
        </div>
    </form>
  </div>
</div>